.root {
	-fx-font-family: "Lato";
	-fx-font-size: 12px;
}

.pattern {
	-fx-background-image: url("../images/sos.png");
}

.bordered{
    -fx-border-color: darkslategrey;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.info-text {
   -fx-font-size: 48px;
   -fx-font-family: "Lato Bold";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.footer-item {
   -fx-font-size: 11px;
    -fx-border-color: darkslategrey;
    -fx-border-width: 0.5;
    -fx-padding: 5;
}

.header {
   -fx-font-size: 24px;
   -fx-font-family: "Lato Bold";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.button:hover {
}

.padded {
    -fx-padding: 10;
}

.smallButton {
    -fx-padding: 5,5,5,5;
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.ttip {
    -fx-background-radius: 7 7 7 7;
    -fx-background-color: white;
}